<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Domótica Aplicada con Raspberry/Orange Pi</title>

		<!-- Jquery Lib -->
		<script src="{{url_for('static',filename='jquery/3.3.1/jquery-3.3.1.min.js')}}"></script>

		<!-- Bootstrap core CSS -->
		<link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="{{url_for('static',filename='css/blog-home.css')}}"  rel="stylesheet" >

		<script>
			var STATES = {
			  ON: 2,
			  OFF: 3,
			  ON_OFF: 4,
			  properties: {
				2: {name: "ON", value: 1, code: "ON"},
				3: {name: "OFF", value: 0, code: "OFF"},
				4: {name: "ON/OFF", value: 1, code: "ON/OFF"}
			  }
			};

			var state_ctrl = {
				2 : STATES.ON_OFF,
				3 : STATES.ON_OFF,
				4 : STATES.ON_OFF
			};

			var old_state = [];

			var pines = [];

			{% if form %}
				pines.push({{ form|safe }});

				$.each( pines, function( index, pin ){
				    var  i = 0;

				    $.each( pin, function( index, port ){
				    	 old_state.push(port['state']);
				    });
				});

				var p = 2;

				for (var i = 0; i < old_state.length; i++) {
					if(old_state[i] == 'ON'){
						state_ctrl[p] = STATES.ON;
					}else{
						state_ctrl[p] = STATES.OFF;
					}
					p++;
				}


			{% endif %}

		</script>

		<script src="{{url_for('static',filename='jquery/events.js')}}"></script>

	</head>

	<body>

		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
				<a class="navbar-brand" href="index">Bienvenido: {% if user %} {{ user }} {% endif %} </a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="logout">Cerrar Sesión
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Page Content -->
		<div class="container">

			<div class="row">

				<!-- Blog Entries Column -->
				<div class="col-md-12">

					<h1 class="my-4">Raspberry/Orange Pi
						<small>Servidor</small>
					</h1>

					<!-- Blog Post -->
					<div class="card mb-4">
						<div class="card-body">
							<h2 class="card-title">Explicación</h2>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>

							<h3>Panel de Control</h3><br>
							<div class="table-responsive-xl">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">-</th>
											<th scope="col">Controladore</th>
											<th scope="col">Acción</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">-</th>
											<td>Control 1</td>
											<td id="mt"><button type="button-ctr-1" id="button-ctr-1" class="btn btn-warning btn-lg"></button></td>
										</tr>
										<tr>
											<th scope="row">-</th>
											<td>Control 2</td>
											<td id="mh"><button type="button-ctr-2" id="button-ctr-2" class="btn btn-lg btn-warning"></button></td>
										</tr>
										<tr>
											<th scope="row">-</th>
											<td>Control 3</td>
											<td id="mw"><button type="button-ctr-3" id="button-ctr-3" class="btn btn-lg btn-warning"></button></td>
										</tr>
									</tbody>
								</table>

							 
								<br>

								{% if 'led' in form.errors %}
								<div class="alert alert-danger" role="alert">
								  <h4 class="alert-heading">Error</h4>
								  <p>{{ form.errors['led'] }}</p>
								  <hr>
								  <p class="mb-0"></p>
								</div>
								{% endif %}
								
								{% if 'state' in form.errors %}
								<div class="alert alert-danger" role="alert">
								  <h4 class="alert-heading">Error</h4>
								  <p>{{ form.errors['state'] }}</p>
								  <hr>
								  <p class="mb-0"></p>
								</div>
								{% endif %}


						</div>
						<div class="card-footer text-muted">
							GitHub:            <a href="https://github.com/malexandroff1/TallerII" target="_blank">Taller de Proyecto II</a>
						</div>
					</div>
				</div>

			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->

		<!-- Footer -->
		<footer class="py-5 bg-dark">
			<div class="container">
				<p class="m-0 text-center text-white">GitHub: <a href="https://github.com/malexandroff1/TallerII" target="_blank">Taller de Proyecto II</a></p>
			</div>
			<!-- /.container -->
		</footer>

		<!-- Bootstrap core JavaScript -->
		<script src = "{{ url_for('static', filename = 'vendor/jquery/jquery.min.js') }}" ></script>
		<script src = "{{ url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js') }}" ></script>
	</body>
</html>
